.header {
    height: 100vh;
    background-image: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 100%), image-set(url(../img/Background.webp) 1x, url(../img/Background@2x.webp) 2x);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--white-color);
}

.header__top {
    padding-block: 64px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    @media (max-width: 767px) {
        padding-block: 40px;
    }
}

.menu {
    justify-self: start;
}

.menu__list {
    display: flex;
    gap: 40px;
    align-items: center;

    @media (max-width: 1300px) {
        position: absolute;
        inset: 0;
        background-color: #171717;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateY(-100%);
        transition: transform .3s ease-in-out;
    }
}

.menu__list.active {
    transform: translateY(0);
}

.menu__btn {
    display: none;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 24px;
    position: relative;
    z-index: 10;

    @media (max-width: 1300px) {
        display: flex;
    }
}

.menu__btn::after,
.menu__btn::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: var(--white-color);
}

.menu__btn::after {
    top: 0;
}

.menu__btn::before {
    bottom: 0;
}

.menu__btn span {
    height: 2px;
    background-color: var(--white-color);
    width: 100%;
}

.menu__item a {
    position: relative;
    font-weight: 300;
    line-height: 1.5;
    text-transform: uppercase;
    color: var(--white-color);

    &::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 1px;
        background-color: var(--white-color);
        transition: width 0.3s ease;
      }

    &:hover::after {
        width: 100%;
      }
}


.logo {
    justify-self: center;
}

.phone-link {
    justify-self: end;
    display: inline-flex;
    align-items: center;
    column-gap: 10px;
    font-weight: 300;
    line-height: 1.5;
    text-transform: uppercase;
    transition: 0.3s;


    &:hover {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* белая световая аура */
    }
}

.phone-link span {
    @media (max-width: 540px) {
        display: none;
    }
}

.header__content {
    padding-top: 100px;

    @media (max-width: 540px) {
        padding-top: 75px;
      }
}

.header__text {
    max-width: 757px;
    margin-bottom: 30px;
    font-size: 24px;

    @media (max-width: 540px) {
        font-size: 22px;
      }
}