.header {
    height: 100vh;
    background-image: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 100%), image-set(url(../img/Background.webp) 1x, url(../img/Background@2x.webp) 2x);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--white-color);
}

.header__top {
    padding-block: 64px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.menu {
    justify-self: start;
}

.menu__list {
    display: flex;
    gap: 40px;
    align-items: center;
}

.logo {
    justify-self: center;
}

.phone-link {
    justify-self: end;
    display: inline-flex;
    align-items: center;
    column-gap: 10px;
    transition: 0.3s;
}