.project {
    padding: 20px;
    border: 1px solid #d9d9d9;

    @media (max-width: 740px) {
        padding: 10px;
    }
}

.project__img {
    margin-bottom: 40px;
    width: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @media (max-width: 740px) {
        margin-bottom: 20px;
    }
}

.project__title {
    margin-bottom: 30px;
    font-weight: 300;
    line-height: 1.16;
    color: #2b2b2b;
    text-transform: uppercase;

    h3 {
        margin-bottom: 10px;
        font-size: 28px;
        font-weight: 300;

        @media (max-width: 740px) {
            font-size: 24px;
        }
    }

    p {
        font-size: 18px;

        @media (max-width: 740px) {
            font-size: 15px;
        }
    }

    @media (max-width: 740px) {
        margin-bottom: 10px;
    }
}

.project__text {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.5;
    color: #2b2b2b;
}

.projects__slider {
    overflow: visible;
    padding-bottom: 50px;
}

.swiper-controls {

}

.slider-arrow {
    cursor: pointer;
    position: absolute;
    bottom: -5px;
    left: 50%;
}

.slider-arrow-prev {
    transform: translateX(-75px);
}

.slider-arrow-next {
    transform: translateX(15px);
}