.services {
    background-color: #171717;
    color: var(--white-color);
}

.services__list {
    border-top: 1px solid #f5f5f5;
}

.services__item {
    padding-right: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-block: 24px;
    border-bottom: 1px solid #f5f5f5;

    @media (max-width: 1300px) {
        display: block;
        padding-right: 0;
    }

    @media (max-width: 740px) {
        padding-block: 10px;
      }
}

.services__item-title {
    font-size: 28px;
    font-weight: 300;
    text-transform: uppercase;

    @media (max-width: 740px) {
        font-size: 20px;
    }
}

.services__item-text {
    max-width: 880px;
    width: 100%;
}