.steps {
    padding: 60px 0 100px;
    background-color: #171717;
    color: var(--white-color);
    display: flex;
    column-gap: 30px;

    @media (max-width: 1300px) {
        display: block;
        padding: 50px 0;
    }
}


.steps__content {
    max-width: 562px;
}

.steps__list {
    counter-reset: my-counter;

    @media (max-width: 1300px) {
        margin-bottom: 30px;
    }
}

.steps__item {
    counter-increment: my-counter;
    padding-left: 57px;
    position: relative;
    padding-bottom: 40px;

    @media (max-width: 540px) {
        padding-left: 37px;
        padding-bottom: 20px;
    }
}

.steps__item:last-child {
    padding-bottom: 0px;
}

.steps__item:last-child::after {
    display: none;
}

.step__item:last-child {
    padding-bottom: 0;
}

.steps__item::before {
    content: counter(my-counter);
    position: absolute;
    left: 0;
    width: 40px;
    height: 40px;
    border: 0.50px solid #fff;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 540px) {
        width: 20px;
        height: 20px;
        font-size: 12px;
    }
}

.steps__item::after {
    content: '';
    position: absolute;
    width: 0.50px;
    background-color: #fff;
    left: 20px;
    top: 48px;
    bottom: 8px;

    @media (max-width: 540px) {
        left: 10px;
        top: 28px;
        bottom: 8px;
    }
}

.steps__item-title {
    padding-top: 6px;
    margin-bottom: 12px;
    font-size: 24px;
    line-height: 1.16;
    font-weight: 300;

    @media (max-width: 540px) {
        font-size: 22px;
        padding-top: 0;
        margin-bottom: 5px;
        margin-top: -1px;
    }
}

.steps__img {
    width: 100%;
    height: 100%;
}

.steps__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}