header.header
   .container
      .header__top
         nav.menu
            ul.menu__list
               li.menu__item
                  a.menu__link(href="#!") about studio
               li.menu__item
                  a.menu__link(href="#!") prices
               li.menu__item
                  a.menu__link(href="#!") projects
               li.menu__item
                  a.menu__link(href="#!") contacts
      a(href="#!").logo forma studio



