// SERVICES
section.services.section-box
    .container
        h2.services__title.section__title Наши услуги
        ul.services__list
            li.services__item
               h3.services__item-title Архитектурный дизайн
               p.services__item-text Мы разработаем индивидуальный дизайн вашего дома — где каждая деталь будет на своём месте. Эргономика и красота соединятся в едином образе, рождённом творческим видением дизайнера.
            li.services__item
               h3.services__item-title Интерьерный дизайн
               p.services__item-text Создаём эксклюзивный дизайн интерьера специально для вас — внимательно учитываем все ваши пожелания и гармонично вписываем их в общую концепцию проекта.
            li.services__item
               h3.services__item-title Архитектурный надзор
               p.services__item-text Контролируем реализацию наших проектов на всех этапах — от первоначальной концепции до финального воплощения.
            li.services__item
               h3.services__item-title Проекты под ключ
               p.services__item-text Выполняем все работы самостоятельно: от создания концепции до сдачи проекта. Вам не придётся ни о чём беспокоиться.