// STEPS
section.steps
    .container
        .steps__content
            h2.projects__title.section__title От заявки до сдачи объекта под ключ
            // STEPS LIST
            ol.steps__list
                li.steps__item
                    p.steps__item-title Мы получили вашу заявку
                    p.steps__item-text Свяжитесь с нами по телефону или отправьте сообщение через сайт.
                li.steps__item
                    p.steps__item-title Давайте познакомимся
                    p.steps__item-text На первой встрече мы обсудим все детали вашего проекта.
                li.steps__item
                    p.steps__item-title Мы выезжаем на объект
                    p.steps__item-text На месте проводим необходимые замеры, фотофиксацию и составляем подробный технический бриф.
                li.steps__item
                    p.steps__item-title Обсуждаем и согласовываем общий бюджет проекта
                    p.steps__item-text Разберём все статьи расходов: от отделочных материалов и элементов интерьера до мебели и необходимого оборудования.
                li.steps__item
                    p.steps__item-title Определяем планировочное решение
                    p.steps__item-text На этом этапе предлагаем несколько вариантов зонирования, расстановки мебели и размещения оборудования.
                li.steps__item
                    p.steps__item-title Разрабатываем дизайн‑концепцию
                    p.steps__item-text Опираясь на ваши предпочтения и учитывая актуальные тренды и направления, определяем стиль вашего будущего интерьера.
                li.steps__item
                    p.steps__item-title Готовим рабочую документацию
                    p.steps__item-text На следующем этапе подготовим все нужные рабочие чертежи, чтобы процесс реализации прошёл гладко и без задержек.
                li.steps__item
                    p.steps__item-title Оснащение проекта
                    p.steps__item-text На завершающем этапе оснащения составляем спецификации на мебель, освещение и предметы интерьера.
    .steps__img
        img(src="./img/steps-bg.webp" srcset="./img/steps-bg@2x.webp 2x" alt="interior" width="1211" height="1189")