:root {
	--container-width: 1750px;
	--container-padding: 15px;

	--font-main: "Roboto", sans-serif;
	--second-family: "Montserrat", sans-serif;

	--btn-color: #DD5514;
	--gradient: linear-gradient(180deg, #00B09B 0%, #96C93D 100%);
	--accent-green: #88C747;

}