.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 0 40px;
    height: 59px;
    min-width: 260px;

    border: none;

    background-color: var(--white-color);

    color: var(--text-color);

    font-family: inherit;
    font-size: 18px;
    font-weight: 300;
    line-height: 59px;
    text-transform: uppercase;
    white-space: nowrap;

    transition: background-color 0.2s ease-in;
    cursor: pointer;

    &:hover {
        // background-color: lighten($color: #fe3f44, $amount: 5%);;
    }

    @media (max-width: 540px) {
        font-size: 16px;
        height: 42px;
        line-height: 42px;
    }
}